---
import Layout from "../layouts/Layout.astro";
---

<Layout title="This is what I can do">
	<!-- Featured Project Section -->
	<p class="text-7xl text-center text-gradient">FEATURED PROJECTS</p>
	<section class="mt-8 grid grid-cols-3 place-items-center p-10 gap-10">
		<div class="card">
			<span class="card-date"> 2018 - 2018</span>
			<h2 class="card-title">Senior Associate</h2>
			 I worked for WNS call centre for 11 months as an inbound senior associate
			for assurance department where I assisted with troubleshooting email, ADSL
			lines, fibre lines for Telkom as well as other third-party fibre lines
			like Vumatel and Link Africa.
			<div class="w-full flex justify-center">
				<a
					href="#"
					class="bg-transparent hover:bg-red-700 border border-red-700 rounded-full px-5 py-2 my-5 text-lg"
				>
					View
				</a>
			</div>
		</div>
		<div class="card">
			<span class="card-date"> 2018 - 2021</span>
			<h2 class="card-title">Tier 2 Senior Associate</h2>
			 I worked as a tier 2 outbound Senior Associate that deals with internal
			technical cases as well as escalated internal technical cases that need to
			be attended for email, ADSL, Telkom fibre and other third-party companies
			like Vumatel and Link Africa
		</div>
		<div class="card">
			<span class="card-date"> 2021 - Current</span>
			<h2 class="card-title">Technical support</h2>
			 I am currently working for Axxess technical support where my role deals
			with assisting and support client with technical queries for fibre and
			ADSL connection, emails, LTE and VoIP.
		</div>
	</section>
</Layout>

<style>
	body {
		color: white;
	}
	.card-date,
	.card-title {
		font-size: 2rem;
	}
</style>
